@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}


.container {
    width: 90%;
    margin: 5%;
    background: #dadada;
    border-radius: 5px;
}


.element {
    background: #ff6600;
    color: #fff;
    text-align: center;
    margin: 10px;
    padding: 15px 0 15px 0;
    width: 32%;
    border-radius: 5px;
}

.row1 > .element {
    height: 150px;
}

.row2 > .element {
    height: 350px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: wrap;
}

.green {
    background-color: #2a9d8f;
}

.brightgreen {
    background-color: #99d98c;
}

.blue {
    background-color: #00b4d8;
}

.yellow {
    background-color: #fcbf49;
}

.yellow > i {
    
}